@charset "utf-8";
/* CSS Document */
.t1,.t2,.t3,.t4,.t5,.t6{
	width:100%;
	height:210px;}
	
 li{
	margin:0 auto;
	list-style:none;
	float:left;
	margin-left:10px;
}

.db{
	position:fixed; 
	right:0%;
	bottom:5%;
	}